.fondo
{
    background-image: url(/storage/platillos/bc.png);
    height: 100vh;
}

.colorTabla
{
    background-color: $colorTabla;
    
}

.contenido-header
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-evenly;
    font-size: 4rem;
    p
    {
        margin-left: 2rem;
    }
}

.bg-dark .navbar-brand
{
    color: white;
    font-size: 1.8rem;
    &:hover
    {
        color: white;
    }
}

.margin6
{
    margin-top: 6rem;
}

.margin8
{
    margin-top:8rem;
}

.size1
{
    font-size: 1.1rem;
}

