.fondo
{
    background-image: url(/storage/imagenes/bc.png);
    height: 100vh;
}

.contenido-header
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-evenly;
    font-size: 4rem;
    p
    {
        margin-left: 2rem;
    }
}